header{
  background-color: #fff;
}

.card-main{
  background-image: url(../src/components/images/re-white-background.jpeg);
  display: flex;
  flex-direction: column;
}


.card-section{
      display: flex;
      flex-direction: row;
      
}

.corner-card-large {
  display: flex;
  flex: 1;
  height: 400px;
  background-image: url(./components/images/heart-1.webp);
}
.center-card {
  display: flex;
  flex: 4;
  
}

.corner-card-short{
  display: flex;
  flex: 1;
  height: 400px;
}
.hpd-message{
  display: flex; 
  flex: 1;
  flex-direction: column;
  align-items: center;
  
}
.happy, .valentines,.day {color: red;}
.happy{
  font-size: 10em;
  
}
.valentines{
  font-size: 15em;
}
.day{
  font-size: 10em;
}
button{
  border: 1em;
  border-radius: 2px;
  background-color: red;
  color: white;
}

.heart{
  font-size: 20px;
  position: fixed;
  top: -1vh;
  transform: translateY(0);;
  animation: fall 3s linear forwards;
}

@keyframes fall{
  to{
      transform: translateY(105vh)
  }
}