header{
  background-color: #fff;
}

main{
  background-image: url(../src/components/images/re-white-background.jpeg);
  display: flex;
  flex-direction: column;
}


.card-section{
    
      display: flex;
      flex-direction: row;
      margin: auto;
      
}

.corner-card-large {
  display: flex;
  flex: 2;
  flex-shrink: 1;
 align-self: auto;
  background-image: url(./components/images/heart-1.webp);
}
.center-card {
  display: flex;
  flex: 8;
  flex-shrink: 4;
  
}

.corner-card-short{
  display: flex;
  flex: 2;
  flex-shrink: 1;
  margin: auto;

}
.hpd-message{
  display: flex; 
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: auto;
  
}
.happy, .valentines,.day {color: red;}
.happy{
  margin: auto;
  
}
.valentines{
  font-size: 15em;
}
.day, .happy{
  font-size: 10em;
}
button{
  border: 1em;
  border-radius: 2px;
  background-color: red;
  color: white;
}

.heart{
  font-size: 20px;
  position: fixed;
  top: -1vh;
  transform: translateY(0);;
  animation: fall 3s linear forwards;
}

@keyframes fall{
  to{
      transform: translateY(105vh)
  }
}

.heart-2{
  
  height: 50%;
  object-position: center;
}